*.class
*.log
wiki

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/project
project/target
.project/
.cache
.classpath
.settings

# IDE specific
.idea
.idea_modules